{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}config <br /> test{% endblock %}</h1>
{% endblock %}

{% block content %}

<div class="w-full h-full flex flex-col justify-center  y-scroll">
    {% if request.method == "GET" %}
    <form method="post" class="flex flex-col">
        <div class="text-white">choose exam</div>
        <select class="w-[25vw] h-[5vh] my-2 p-2 text-xl" name="exam" id="exam">
          {% for exam in exams %}
          <option value="{{exam['id']}}">{{exam["exam_name"]}}</option>
          {% endfor%}
        </select>
        <div class="text-white">number of questions</div>
        <input class="w-[25vw] h-[5vh] my-2 p-2 text-xl" type="number" autocomplete="off" name="number_of_questions" placeholder="number_of_questions" id="number_of_questions" required>
        <input class="w-[12vw] bg-pgreen h-[5vh] my-2 text-[3vh] leading-none text-pblack cursor-pointer" type="submit" value="choose topics">
    </form>
    {% endif %}
    {% if request.method == "POST" %}
    <form method="post" class="flex flex-col   y-scroll">
      <div class="h-[80%] text-xl">
        <div class="text-pred text-7xl mb-7">{{ exam_name }}</div>
      </div>
        <div class="text-white">choose topics</div>
        {% for subject in topics %}
        <div>
          <div class="text-pgreen text-2xl flex flex-row items-center">
            <input class="w-6 h-6 mr-3" type="checkbox" data-subject_id={{topic_keys.index(subject)}} onchange="select_subject(event)" />  <div> {{subject}} </div> 
          </div>
          <div>
            {% for topic in topics[subject] %}
              <div class="flex flex-row items-center">
                <input class="mr-3 ml-8 w-4 h-4 subject_{{topic_keys.index(subject)}}" type="checkbox" name="test_topics"/><div class="text-white">{{topic["topic_name"]}} </div>
              </div>
            {% endfor %}
          </div>
        </div>
        {% endfor%}
        <input class="w-[12vw] bg-pgreen h-[5vh] my-2 text-[3vh] leading-none text-pblack cursor-pointer" type="submit" value="make test">
    </form>
    {% endif %}
</div>

<script>
function select_subject(event){
  let subject_id =   event.target.dataset.subject_id
  let boxes = document.getElementsByClassName(`subject_${subject_id}`);
  for(let x = 0; x<boxes.length;x+=1){
    boxes[x].checked = event.target.checked;
  }
}
</script>
{% endblock %}