{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}config{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="w-full h-full flex flex-col justify-center">
    <form method="post" class="flex flex-col">
        <div class="text-white">choose exam</div>
        <select class="w-[25vw] h-[5vh] my-2 p-2 text-xl" name="exam" id="exam">
            <option value="1">GATE Computer Science</option>
            <option value="GATE_ECE" disabled>GATE Electronics and Communication</option>
            <option value="GATE_ME" disabled>GATE Mechanical</option>
            <option value="GATE_EL" disabled>GATE Electrical</option>
        </select>
        <div class="text-white">start date</div>
        <input class="w-[25vw] h-[5vh] my-2 p-2 text-xl" autocomplete="off" type="date" placeholder="start date" name="start_date" id="start_date" required>
        <div class="text-white">end date</div>
        <input class="w-[25vw] h-[5vh] my-2 p-2 text-xl" autocomplete="off" type="date" placeholder="end date" name="end_date" id="end_date" required>
        <div class="text-white">plan type</div>
        <select class="w-[25vw] h-[5vh] my-2 p-2 text-xl" name="plan_type" id="plan_type">
            <option value="increasing">increasing</option>
            <option value="decreasing">decreasing</option>
            <option value="constant">constant</option>
        </select>
        <input class="w-[12vw] bg-pgreen h-[5vh] my-2 text-[3vh] leading-none text-pblack cursor-pointer" type="submit" value="make plan">
        <div class="text-white">dont know about plan type? <span class="text-pred cursor-pointer">click here</span></div>
      </form>
</div>
  
{% endblock %}