{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Account{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="w-full h-full flex flex-col justify-start">
    <div class="flex justify-end">
        <!-- <a href="{{ url_for('account.show_account',screen='profile') }}">
            <button class="bg-pgreen text-pblack py-1 px-5  text-center m-1 cursor-pointer text-2xl">
                Profile
            </button>
        </a> -->
        {% if screen != "plan-dashboard" %}
        <a href="{{ url_for('account.show_account',screen='plan-dashboard') }}">
            <button class="bg-pgreen text-pblack py-1 px-5  text-center m-1 cursor-pointer text-2xl">
                Plan dashboard
            </button>
        </a>
        {% else %}
        <a href="{{ url_for('account.show_account',screen='plan-dashboard') }}">
            <button class="bg-white text-pblack py-1 px-5  text-center m-1 cursor-pointer text-2xl">
                Plan dashboard
            </button>
        </a>

        {% endif %}

        {% if screen != "test-dashboard" %}
        <a href="{{ url_for('account.show_account',screen='test-dashboard') }}">
            <button class="bg-pgreen text-pblack py-1 px-5  text-center m-1 cursor-pointer text-2xl">
                Test dashboard
            </button>
        </a>
        {% else %}
        <a href="{{ url_for('account.show_account',screen='test-dashboard') }}">
            <button class="bg-white text-pblack py-1 px-5  text-center m-1 cursor-pointer text-2xl">
                Test dashboard
            </button>
        </a>
        {% endif %}

    </div>

    <div class="pt-4 px-5 text-white h-full">
        {% if screen == "plan-dashboard" %}
        <div>

            <div class="w-full h-full flex flex-col overflow-hidden">

                <div class="text-3xl pb-3 self-start">Analytics</div>
                <div class="flex flex-row">
                    <div class="w-[60%] m-2">
                        <div class="text-1xl pb-3 self-start">Comparision of Number of topics</div>
                        <canvas id="topic_number"></canvas>
                    </div>
                    <div class="w-[40%] m-2 p-2">
                        <div class="text-1xl pb-3 self-start">Time Left</div>
                        <p id="timer" class="break-normal text-6xl font-bold"></p>
                        <p>Start Date <label class="text-2xl text-pgreen">{{start_end['start_date']}}</label></p>
                        <p>End Date <label class="text-2xl text-pred">{{start_end['end_date']}}</label></p>
                    </div>
                </div>

            </div>

        </div>
        <script src="/static/timer.js"> </script>
        <script>

            let dates = JSON.parse('{{dates | safe}}')
            console.log(dates)
            CreateTimer("timer", dates.end_date)
        </script>
        <script>
            let topic_numbers = JSON.parse('{{topic_number_data | safe}}')

            const topic_number_data = {
                labels: [""],
                datasets: [{
                    label: 'completed',
                    backgroundColor: ['#08D9D6'],
                    data: [topic_numbers.completed],
                },
                {
                    label: 'uncompleted',
                    backgroundColor: ['#FF2E63'],
                    data: [topic_numbers.uncompleted],
                }]
            };

            const topic_number_config = {
                type: 'bar',
                data: topic_number_data,
                options: {
                    scales: {
                        x: {
                            grid: {
                                color: " white",
                            }
                        }, y: { grid: { color: "white" } }
                    }, indexAxis: 'y', elements: {
                        bar: { borderWidth: 1, }
                    }, responsive: true, plugins: {
                        legend: {
                            position: 'top', labels: {
                                color: "white"
                            }
                        },
                    }
                },
            }; const total_number_char = new Chart(
                document.getElementById('topic_number'), topic_number_config); 
        </script>
        {% endif %}

        {% if screen == "test-dashboard" %}
        <div class="w-full h-full flex flex-row overflow-hidden">




            <div class="flex flex-col items-center w-[50%] p-2 h-full  y-scroll">
                <div class="text-3xl pb-3 self-start">Analytics</div>
                <div class="w-[70%]">
                    <div class="text-1xl pb-3 self-start text-center">Total Distribution</div>
                    <canvas id="total_answer"></canvas>
                </div>
                <div class="w-[100%] py-10">
                    <div class="text-1xl pb-3 self-start text-center">Distribution by Date</div>
                    <canvas id="date_answer"></canvas>
                </div>

                <div>

                    <div class="text-1xl pb-3 self-start text-center">Distribution by Topics</div>

                    <div class="flex flex-row justify-start items-start flex-wrap py-2">
                        {% for topic in topic_answer.right %}
                        <div class="tooltip">

                            <div class="m-1 px-2 flex flex-row rounded-lg bg-pgreen text-pblack text-sm font-bold mx-1">
                                <div class="pr-1">
                                    {{topic.topic_count}}
                                </div>
                                <div class="truncate">
                                    {{topic.topic_name}}
                                </div>
                            </div>
                            <span class="tooltiptext">{{topic.subject_name}}:
                                {{topic.topic_name}}</span>
                        </div>
                        {% endfor %}
                    </div>

                    <div class="flex flex-row justify-start items-start flex-wrap py-2">
                        {% for topic in topic_answer.wrong %}
                        <div class="tooltip">

                            <div class="m-1 px-2 flex flex-row rounded-lg bg-pred text-white text-sm font-bold mx-1">
                                <div class="pr-1">
                                    {{topic.topic_count}}
                                </div>
                                <div class="truncate">
                                    {{topic.topic_name}}
                                </div>
                            </div>
                            <span class="tooltiptext">{{topic.subject_name}}:
                                {{topic.topic_name}}</span>
                        </div>
                        {% endfor %}
                    </div>


                </div>

            </div>



            <ul class="w-[50%] h-[75%] y-scroll  p-2">

                <div class="text-3xl pb-3">Completed Tests</div>

                {% for test in completed_tests %}
                <li class="flex flex-col text-xl">
                    Test {{test.index}} {{test.date}}
                    <div class="flex flex-row ">
                        <div class="px-2 rounded-lg bg-white text-pblack text-sm font-bold mx-1">time:
                            {{test.submit_time}}</div>
                        <div class="px-2 rounded-lg bg-white text-pblack text-sm font-bold mx-1">marks:
                            {{test.marks}}/{{test.number_of_questions}}</div>
                        <a class="px-2 rounded-lg bg-pgreen text-pblack text-sm font-bold mx-1"
                            href="{{url_for('practice.show_result', test_id=test.test_id)}}">view
                            result</a>
                    </div>
                </li>
                {% endfor %}

                <div class="text-3xl py-3">Uncompleted Tests</div>

                {% for test in uncompleted_tests %}
                <li class="flex flex-row text-2xl items-center">
                    Test {{test.index}} {{test.date}}
                    <div class="px-2 rounded-lg bg-white text-pblack text-sm font-bold mx-1">time:
                        {{test.start_time}}</div>
                    <a class="px-2 rounded-lg bg-pgreen text-pblack text-sm font-bold mx-1"
                        href="{{url_for('practice.show_test', test_id=test.test_id, sequence_number=1)}}">continue</a>
                </li>
                {% endfor %}

            </ul>

        </div>
        <script>

            let total_answer = JSON.parse('{{total_answer | safe}}')
            let date_answer = JSON.parse('{{date_answers | safe}}')
            console.log(total_answer)


            const total_answer_data = {
                labels: Object.keys(total_answer),
                datasets: [{
                    label: 'Answer Distribution',
                    backgroundColor: ['#08D9D6', '#FF2E63', 'grey'],
                    // borderColor: 'rgb(255, 99, 132)',
                    data: Object.values(total_answer),
                }]
            };

            const total_answer_config = {
                type: 'doughnut',
                data: total_answer_data,
                options: {
                    layout: {
                        padding: 3
                    },
                    plugins: {
                        legend: {
                            position: "bottom",
                            labels: {
                                color: "white"
                            }
                        }
                    }
                }
            };
            const total_answer_Chart = new Chart(
                document.getElementById('total_answer'),
                total_answer_config
            );


            const date_answer_right_data = {
                labels: Object.keys(date_answer.right),
                datasets: [
                    {
                        label: 'right',
                        backgroundColor: '#08D9D6',
                        borderColor: '#08D9D6',
                        data: Object.values(date_answer.right),
                    }, {
                        label: 'wrong',
                        backgroundColor: '#FF2E63',
                        borderColor: '#FF2E63',
                        data: Object.values(date_answer.wrong),
                    }, {
                        label: 'skipped',
                        backgroundColor: 'grey',
                        borderColor: 'grey',
                        data: Object.values(date_answer.skipped),
                    }]
            };
            const date_answer_right_config = {
                type: 'line',
                data: date_answer_right_data,
                options: {
                    layout: {
                        padding: 3
                    },
                    plugins: {
                        legend: {
                            position: "bottom",
                            labels: {
                                color: "white"
                            }
                        }
                    }
                }
            };
            const date_answer_chart = new Chart(
                document.getElementById('date_answer'),
                date_answer_right_config
            );
        </script>

        {% endif %}
    </div>
</div>
{% endblock %}