{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Account{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="w-full h-full flex flex-col justify-start">
    <div class="flex justify-end">
        <!-- <a href="{{ url_for('account.show_account',screen='profile') }}">
            <button class="bg-pgreen text-pblack py-1 px-5  text-center m-1 cursor-pointer text-2xl">
                Profile
            </button>
        </a> -->
        <a href="{{ url_for('account.show_account',screen='plan-dashboard') }}">
            <button class="bg-pgreen text-pblack py-1 px-5  text-center m-1 cursor-pointer text-2xl">
                Plan dashboard
            </button>
        </a>
        <a href="{{ url_for('account.show_account',screen='test-dashboard') }}">
            <button class="bg-pgreen text-pblack py-1 px-5  text-center m-1 cursor-pointer text-2xl">
                Test dashboard
            </button>
        </a>
        <a href="{{ url_for('account.show_account',screen='settings') }}">
            <button class="bg-pgreen text-pblack py-1 px-5  text-center m-1 cursor-pointer text-2xl">
                Settings
            </button>
        </a>
    </div>

    <div class="pt-12 px-5 text-white h-full">
        {% if screen == "plan-dashboard" %}
        <div>

            hi

        </div>
        {% endif %}

        {% if screen == "test-dashboard" %}
        <div class="w-full h-full flex flex-row overflow-hidden">

            <ul class="w-[50%] h-full  p-2">

                <div class="text-3xl pb-3">Completed Tests</div>

                {% for test in completed_tests %}
                    <li class="flex flex-col text-xl">
                        Test {{test.index}} {{test.date}}
                        <div class="flex flex-row ">
                        <div class="px-2 rounded-lg bg-white text-pblack text-sm font-bold mx-1">time:  {{test.submit_time}}</div>
                        <div class="px-2 rounded-lg bg-white text-pblack text-sm font-bold mx-1">marks:  {{test.marks}}/{{test.number_of_questions}}</div>
                        <a class="px-2 rounded-lg bg-pgreen text-pblack text-sm font-bold mx-1" href="{{url_for('practice.show_result', test_id=test.test_id)}}">view result</a>
                    </div>
                    </li>
                {% endfor %}

                <div class="text-3xl py-3">Uncompleted Tests</div>

                {% for test in uncompleted_tests %}
                    <li class="flex flex-row text-2xl items-center">
                        Test {{test.index}} {{test.date}}
                        <div class="px-2 rounded-lg bg-white text-pblack text-sm font-bold mx-1">time:  {{test.start_time}}</div>
                        <a class="px-2 rounded-lg bg-pgreen text-pblack text-sm font-bold mx-1" href="{{url_for('practice.show_test', test_id=test.test_id, sequence_number=1)}}">continue</a>
                    </li>
                {% endfor %}
    
            </ul>

            <div class="flex flex-col items-center w-[50%] p-2 h-[75%]  y-scroll">
                <div class="text-3xl pb-3 self-start">Analytics</div>
                <div class="w-[70%]">
                    <canvas id="total_answer"></canvas>
                </div>
                <div class="w-[100%] py-4">
                    <canvas id="date_answer"></canvas>
                </div>
                
            </div>

        </div>
        <script>

            let total_answer = JSON.parse('{{total_answer | safe}}')
            let date_answer = JSON.parse('{{date_answers | safe}}')
            console.log(total_answer)


            const total_answer_data = {
              labels: Object.keys(total_answer),
              datasets: [{
                label: 'Answer Distribution',
                backgroundColor: ['#08D9D6','#FF2E63','grey'],
                // borderColor: 'rgb(255, 99, 132)',
                data: Object.values(total_answer),
              }]
            };
          
            const total_answer_config = {
              type: 'doughnut',
              data: total_answer_data,
              options: {
                layout:{
                    padding: 3
                },
                plugins:{
                    legend:{
                        position:"bottom",
                        labels:{
                            color: "white"
                        }
                    }
                }
              }
            };
            const total_answer_Chart = new Chart(
                document.getElementById('total_answer'),
                total_answer_config
            );


            const date_answer_right_data = {
              labels: Object.keys(date_answer.right),
              datasets: [
                {
                label: 'right',
                backgroundColor: '#08D9D6',
                borderColor: '#08D9D6',
                data: Object.values(date_answer.right),
              },{
                label: 'wrong',
                backgroundColor: '#FF2E63',
                borderColor: '#FF2E63',
                data: Object.values(date_answer.wrong),
              },{
                label: 'skipped',
                backgroundColor: 'grey',
                borderColor: 'grey',
                data: Object.values(date_answer.skipped),
              }]
            };
            const date_answer_right_config = {
              type: 'line',
              data:  date_answer_right_data,
              options: {
                layout:{
                    padding: 3
                },
                plugins:{
                    legend:{
                        position:"bottom",
                        labels:{
                            color: "white"
                        }
                    }
                }
              }
            };
            const date_answer_chart = new Chart(
                document.getElementById('date_answer'),
                date_answer_right_config
            );
          </script>
        
        {% endif %}
    </div>
</div>
{% endblock %}