{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Home{% endblock %}</h1>
{% endblock %}

{% block content %}
<style>
  #heading{
    color: white;
    font-size: 3em;
  }
  #heading1{
    color: grey;
    font-size: 2em;
  }
   #heading2{
    color: white;
    font-size: 2.5em;
  }
   #heading3{
    color: grey;
    font-size: 2em;
  }
  #heading4{
    color: grey;
    font-size: 2em;
  }
  
</style>
<div class="y-scroll">
  <h1  class="text-pgreen text-7  xl"> Welcome to PlanIT</h1>
  <h1 id="heading1"> We help you make the perfect plan for your exam with the help of advanced machine learning algorithms...</h1>
  <h1 id="heading2"> Make your customised plan that is easy to follow and guarantees your success!<h1>
  <h1 id="heading3"> Using our tool, you can study systmatically efficiently. 
                     With most efficient way to crack your GATE exam, it's syllabus is on our database and you can easily choose 
                     and make plan of your concerned exam and ace them...
  <h1 id="heading4">With constant updation of the syllabus and machine learning algorithms, 
                    we ensure that you always have the latest syllabus to work on...<h1>
                      <p class="text-pgreen my-2 text-2xl">
                        A new concept that we deveploved that is good way to optimize perfomance and make a plan that fits your study style more
                      </p>
  <div class="flex flex-row">
  
    <img class="h-[200px] m-2" src="/static/images/increasing.png" />
    <img class="h-[200px] m-2" src="/static/images/decreasing.png" />
  </div>
  
</div>
{% endblock %}